

p{
  font-weight: 200!important;
  margin: 0!important;
}

p span{
  font-weight: normal!important;
}


.listaH2{
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, .8);
  padding: 10px;
  font-family:serif;
}